<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://unpkg.com/vue@next"></script>
	<title>Boek</title>
</head>

<body>

	<div id="app">
		<p>Geef de titel in aub.</p>
		<input v-model="titel" size="20" placeholder="titel">
		<p>Geef de prijs in aub.</p>
		<input v-model="prijs" size="20" placeholder="prijs">
		<p>Geef het aan stuks in aub.</p>
		<input v-model="aantal" size="20" placeholder="aantal">
		<p>Voor {{aantal}} stuks(s) van het boek {{titel}}, tegen een kostprijs van {{prijs}}, betaal je {{prijs*aantal}}
		</p>
	</div>

	<script>
		const app = {
			data() {
				return {
					titel: "",
					prijs: "",
					aantal: "",
				}
			}
		}
		Vue.createApp(app).mount('#app')
	</script>
</body>

</html>