<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Magazines</title>
	<script src="https://unpkg.com/vue@next"></script>
	<style>
		.red {
			color: red;
		}

		.green {
			color: green;
		}
	</style>
</head>

<body>
	<div id="app">
		<h1 v-html="titel"></h1>
		<div v-for="magazine in magazines">
			<h2 v-if="magazine.naam.length != 0"
				:class="{green: magazine.prijs.length != 0 && magazine.doelgroep.length != 0, red: magazine.prijs.length == 0 || magazine.doelgroep.length == 0}">
				{{ magazine.naam }}
			</h2>

			<p v-if="magazine.doelgroep.length != 0">Doelgroep: {{ magazine.doelgroep }}</p>
			<p v-else-if="magazine.doelgroep.length == 0" :class="{red: magazine.doelgroep.length == 0}">
				De doelgroep ontbreekt!
			</p>

			<p v-if="magazine.prijs.length != 0">Kostprijs los magazine {{ magazine.prijs }}</p>
			<p v-else-if="magazine.prijs.length == 0" :class="{red: magazine.prijs.length == 0}">De kostprijs ontbreekt!</p>
		</div>
		<div>
			Naam: <input v-model="naam" /> Doelgroep: <input v-model="doelgroep" /> Prijs: <input v-model="prijs" />
			<button @click="addMagazine()">Voeg toe</button>
		</div>
	</div>

	<script>
		const app = {
			data: function () {
				return {
					titel: "<i>Magazines</i>",
					magazines: [
						{ naam: "Libelle", doelgroep: "vrouwen", prijs: 4.75 },
						{ naam: "Knack", doelgroep: "", prijs: 6.25 },
						{ naam: "Humo", doelgroep: "gemengd", prijs: "" },
					],
					naam: "",
					doelgroep: "",
					prijs: "",
				};
			},
			methods: {
				addMagazine: function () {
					console.log(this.naam.length);
					if (this.naam.length != 0) {
						temporary = {
							naam: this.naam,
							doelgroep: this.doelgroep,
							prijs: this.prijs,
						};
						this.magazines.push(temporary);
						this.naam = "";
						this.doelgroep = "";
						this.prijs = "";
					} else {
						alert('Geleive een naam in te vullen.');
					}
				},
			},
		};

		Vue.createApp(app).mount("#app");
	</script>
</body>

</html>