<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Template</title>
  <script src="https://unpkg.com/vue@next"></script>
</head>

<body>
  <div id="app">
    <div v-for="(cursist, i) in cursisten">
      <h2>Naam: {{cursist.naam}}</h2>
      <h3>Geslaagd</h3>
      <div v-for="(vak,index) in cursist.resultaten">
        <p v-if="beoordelingVakken[i][index] == 1">{{ vak[0]}}: {{ vak[1] }}</p>
      </div>
      <h3>Onvoldoende</h3>
      <div v-for="(vak,index) in cursist.resultaten">
        <p v-if="beoordelingVakken[i][index] == 0">{{ vak[0]}}: {{ vak[1] }}</p>
      </div>
      <hr>
    </div>
    <script>
      const app = {
        data: function () {
          return {
            cursisten: [
              {
                naam: 'Jan',
                resultaten: [
                  ['html', 40],
                  ['JS', 80],
                  ['JS-OOP', 70]
                ]
              },
              {
                naam: 'Piet',
                resultaten: [
                  ['html', 90],
                  ['JS', 90],
                  ['JS-OOP', 20]
                ]
              }
            ]

          };
        },
        computed: {
          beoordelingVakken: function () {
            return this.cursisten.map(cursist => {
              return cursist.resultaten.map(vak => {
                return vak[1] >= 50 ? 1 : 0
              })
            })
          }
        }
      };

      Vue.createApp(app).mount("#app");
    </script>
</body>

</html>