<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Template</title>
		<script src="https://unpkg.com/vue@next"></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	</head>

	<body>
		<div id="app">
			<h1>Bitcoin Price Index</h1>
			<section v-if="errored">
				<p>We're sorry, we're not able to retrieve this information at the moment, please try back later</p>
			</section>
			<section v-else>
				<div v-if="loading">Loading...</div>
				<div v-else v-for="currency in info" class="currency">
					{{ currency.description }}:
					<span v-html="currency.symbol"></span>{{ currency.rate_float }}
				</div>
			</section>
		</div>

		<script>
			const app = {
				data: function () {
					return {
						info: null,
						loading: true,
						errored: false,
					};
				},
				mounted() {
					axios
						.get("https://api.coindesk.com/v1/bpi/currentprice.json")
						.then((response) => (this.info = response.data.bpi))
						.catch((error) => {
							console.log(error);
							// fout met de API request
							this.errored = true;
						})
						.finally(() => (this.loading = false));
					//wordt uitgevoerd als get resolved is, dus fulfilled or rejected
				},
			};
			Vue.createApp(app).mount("#app");
		</script>
	</body>
</html>
