<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Template</title>
		<script src="https://unpkg.com/vue@next"></script>
	</head>

	<body>
		<div id="app">
			<input type="radio" id="one" value="Radio 1" v-model="gekozen" />
			<label for="one">Een</label>
			<br />
			<input type="radio" id="two" value="Radio 2" v-model="gekozen" />
			<label for="two">Twee</label>
			<br />
			<span>gekozen: {{ gekozen }}</span>
		</div>

		<script>
			const app = {
				data: function () {
					return {
						gekozen: "",
					};
				},
			};

			Vue.createApp(app).mount("#app");
		</script>
	</body>
</html>
