<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>v-for met array van uitgebreide objecten</title>
	<script src="https://unpkg.com/vue@next"></script>
</head>

<body>
	<div id="app">
		<ul>
			<li v-for="singleItem in items">
				<p v-for="property in singleItem">{{property}}</p>
			</li>
		</ul>
	</div>

	<script>
		const app = {
			data: function () {
				return {
					items: [
						{ boodschap: "jQuery", datum: "01/01/18" },
						{ boodschap: "Vue.js", datum: "01/02/18" },
						{ boodschap: "React.js", datum: "01/03/18" },
					],
				};
			},
		};

		Vue.createApp(app).mount("#app");
	</script>
</body>

</html>